/* .container {
    width: auto;
    height: auto;
    background-color: rgb(236, 236, 236);
}
.navigation {
    width: auto;
    height: 100px;
    background-color: blue;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.logo {
} */